<!-- <div class="small-3 columns"
  ng-controller="PipelineIndexCtrl">
    <ul class="side-nav">
      <li class ='show-for-medium-up'>
        <ul class="button-group radius">
        <li><a class="tiny button"
          ng-click="namePipeline()">Pipelines</a></li>
        <li><a class="tiny button green"
          ng-click="namePipeline()" >+</a></li>
        </ul>
      </li>
      <li class ="hidden-for-medium-up"><a class="tiny button radius left"
          ng-click="namePipeline()">Pipelines</a>
     <a class="tiny button green radius"
          ng-click="namePipeline()">add</a></li>

      <li ng-repeat="pipe in pipelineList" class="">
        <a href="/#/pipeline/{{pipe.id}}" title="">{{pipe.name}}</a>
      </li>
    </ul>

</div> -->

<!-- The below div is where the ng views/partials will be shown -->
<!-- <div class="small-9 columns right"> -->
<div ng-view>

</div>
<!-- </div> -->

