<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Contact Added At <%= @time %></h1>
    <h2>Details:</h2>
      <p>Name: <%= @name %></p>
      <p>City: <%= @city %></p>
      <p>Phone: <%= @phone_number %></p>
  </body>
</html>
