<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MakerSquare's CRM Admissions Tool, <%= @name %></h1>
    <p>
      You have successfully signed up as an administrator.<br>
    </p>
    <p>
      To login to the site, please follow this link: <%= @url %>.
    </p>
    </body>
</html>
