---
http_interactions:
- request:
    method: get
    uri: https://api.context.io/2.0/accounts?email=devpiedpiper1@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hmsdfr9u", oauth_nonce="f69025af00d8b8ea736c21d3bc554bd3",
        oauth_signature="893JoquAh9XP%2FcTSd6hRKBWgfxY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408128468", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.context.io/2.0/accounts?email=devpiedpiper1%40gmail.com>; rel="self"
      X-List-Offset:
      - '0'
    body:
      encoding: UTF-8
      string: '[{"created":1408127608,"username":"devpiedpiper1.gmail.com_53dab6c9741107910852804e","suspended":0,"id":"53ee5278615a996d265d8c58","email_addresses":["devpiedpiper1@gmail.com"],"first_name":"Shehzan","last_name":"Devani","password_expired":0,"sources":[],"resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53ee5278615a996d265d8c58"}]'
  recorded_at: Fri, 15 Aug 2014 18:47:48 GMT
- request:
    method: post
    uri: https://api.context.io/2.0/accounts/53ee5278615a996d265d8c58/sources
    body:
      encoding: US-ASCII
      string: password=workhardplayhard1&email=devpiedpiper1%40gmail.com&server=imap.gmail.com&username=devpiedpiper1%40gmail.com&use_ssl=1&port=993&type=IMAP
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hmsdfr9u", oauth_nonce="0e2717e5077a0f1d3bad0365c3adebba",
        oauth_signature="GPtadNt%2FIcvZ0i5VK1lQxDd1RWQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408128468", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"label":"devpiedpiper1::gmail","resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53ee5278615a996d265d8c58\/sources\/devpiedpiper1::gmail"}'
  recorded_at: Fri, 15 Aug 2014 18:47:50 GMT
recorded_with: VCR 2.6.0
