---
http_interactions:
- request:
    method: get
    uri: https://api.context.io/2.0/accounts/53dab6dffacadd465d52805a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hmsdfr9u", oauth_nonce="efcdd0c5d17e336d7f022b3c4488fb2b",
        oauth_signature="qy%2FkmI9wyQGb7BItyZuc8PIlt1E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408035631", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Contextio-Source-Status:
      - https://api.context.io/2.0/accounts/53dab6dffacadd465d52805a/sources/devpiedpiper::gmail
        OK
    body:
      encoding: UTF-8
      string: '{"id":"53dab6dffacadd465d52805a","username":"devpiedpiper.gmail.com_53dab6c9741107910852804e","created":1406842589,"suspended":0,"email_addresses":["devpiedpiper@gmail.com"],"first_name":"dev","last_name":"piedpiper","password_expired":0,"nb_messages":28,"nb_files":0,"sources":[{"server":"imap.googlemail.com","label":"devpiedpiper::gmail","username":"devpiedpiper@gmail.com","port":993,"authentication_type":"oauth","use_ssl":true,"sync_period":"1d","status":"OK","service_level":"pro","type":"imap","resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53dab6dffacadd465d52805a\/sources\/devpiedpiper::gmail"}]}'
  recorded_at: Thu, 14 Aug 2014 17:00:32 GMT
recorded_with: VCR 2.6.0
