---
http_interactions:
- request:
    method: get
    uri: https://api.context.io/2.0/accounts?email=devpiedpiper@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hmsdfr9u", oauth_nonce="d3e4541f9365fdbbfde48cbde3872271",
        oauth_signature="pkeY%2BQAuFMMgjIMMhG2at%2FXugYU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408134393", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://api.context.io/2.0/accounts?email=devpiedpiper%40gmail.com>; rel="self"
      X-List-Offset:
      - '0'
    body:
      encoding: UTF-8
      string: '[{"created":1406842589,"username":"devpiedpiper.gmail.com_53dab6c9741107910852804e","suspended":0,"id":"53dab6dffacadd465d52805a","email_addresses":["devpiedpiper@gmail.com"],"first_name":"dev","last_name":"piedpiper","password_expired":0,"sources":[{"server":"imap.googlemail.com","label":"devpiedpiper::gmail","username":"devpiedpiper@gmail.com","port":993,"authentication_type":"oauth","use_ssl":true,"sync_period":"1d","status":"OK","service_level":"pro","type":"imap","resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53dab6dffacadd465d52805a\/sources\/devpiedpiper::gmail"}],"resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53dab6dffacadd465d52805a"}]'
  recorded_at: Fri, 15 Aug 2014 20:26:33 GMT
- request:
    method: get
    uri: https://api.context.io/2.0/accounts/53dab6dffacadd465d52805a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="hmsdfr9u", oauth_nonce="6116a7d338deaa61e36d2018702ababb",
        oauth_signature="J7pBvS9HumGN2dyQgXsVe8%2FoEak%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1408134393", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Contextio-Source-Status:
      - https://api.context.io/2.0/accounts/53dab6dffacadd465d52805a/sources/devpiedpiper::gmail
        OK
    body:
      encoding: UTF-8
      string: '{"id":"53dab6dffacadd465d52805a","username":"devpiedpiper.gmail.com_53dab6c9741107910852804e","created":1406842589,"suspended":0,"email_addresses":["devpiedpiper@gmail.com"],"first_name":"dev","last_name":"piedpiper","password_expired":0,"nb_messages":31,"nb_files":0,"sources":[{"server":"imap.googlemail.com","label":"devpiedpiper::gmail","username":"devpiedpiper@gmail.com","port":993,"authentication_type":"oauth","use_ssl":true,"sync_period":"1d","status":"OK","service_level":"pro","type":"imap","resource_url":"https:\/\/api.context.io\/2.0\/accounts\/53dab6dffacadd465d52805a\/sources\/devpiedpiper::gmail"}]}'
  recorded_at: Fri, 15 Aug 2014 20:26:34 GMT
recorded_with: VCR 2.6.0
