<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a>Pied-Piper</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
      </ul>

      <ul class="right">
        <li>
        <% if current_user %>
          <%= link_to "Sign out " + current_user.name, signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
        </li>
      </ul>

    </section>

  </nav>
</div>
