<div ng-controller="SearchCtrl">
  <!-- <div class="contain-to-grid sticky"> -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <div>
            <h1><a class ='logo' href='/'><img src= '/assets/makersquare_diecut.png'>
              <span class ='logo_fat'>Maker</span>
              <span class ='logo_skinny'>Square</span>
            </a></h1>
          </div>
        </li>
      </ul>

      <section ng-controller="PipelineIndexCtrl" class="top-bar-section">
        <ul class="left">
          <li><a></a></li>
          <li class = 'has-dropdown'><a href="#"><strong>PIPELINES</strong></a>
            <ul class="dropdown">
              <li ng-repeat="pipe in pipelineList" class="">
                <a href="/#/pipeline/{{pipe.id}}" title="">{{pipe.name}}</a>
              </li>
            </ul>
          </li>
          <li><a ng-click='newPipeline = true'><i class="fi-plus"></i></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>

        <ul class="right">
          <li>
          <% if current_user %>
            <%= link_to "Sign out " + current_user.name, signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
          </li>
        </ul>

        <ul class="right">
          <div class = 'topbarmargin'>
            <li><input class = 'topbarcenter' ng-model="searchItem" type="text" placeholder="Type to Search" ng-change="search()"/></li>
          </div>
        </ul>
        <form ng-show="newPipeline" ng-submit="createNewPipeline()" role="form">
          <div class="form-group">
            <input ng-model="pipelineName" type="text" class="form-control" id="pipelineName" placeholder="Name New Pipeline">
          </div>
        </form>
      </section>

    </nav>
  <!-- </div> -->
</div>
