<div ng-controller="SearchCtrl">
  <!-- <div class="contain-to-grid sticky"> -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <!-- <h1><a>Pied-Piper</a></h1> -->
        </li>
      </ul>

      <section ng-controller="PipelineIndexCtrl" class="top-bar-section">
        <ul class="left">
          <li class = 'has-dropdown'><a href="#"><strong>PIPELINES</strong></a>
            <ul class="dropdown">
              <li ng-repeat="pipe in pipelineList" class="">
                <a href="/#/pipeline/{{pipe.id}}" title="">{{pipe.name}}</a>
              </li>
            </ul>
          </li>
          <li><a class ='' href="#"><i class="fi-plus"></i></a></li>
          <li><a></a></li>
          <li><a></a></li>
        </ul>


        <ul class="left">

        <li><input ng-model="searchItem" type="text" placeholder="Type to Search" ng-change="search()"/></li>
        </ul>

        <ul class="right">
          <li>
          <% if current_user %>
            <%= link_to "Sign out " + current_user.name, signout_path, id: "sign_out" %>
          <% else %>
            <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <% end %>
          </li>
        </ul>

      </section>

    </nav>
  <!-- </div> -->
</div>
