<h1>Contacts index - should probably be linked-to from pipeline</h1>
<div>list o contacts here - angular or rails?</div>
<a href="contacts/new">create contact</a>
<div> - also need to hook up to email api to auto-add by email address</div>
