<h1>All Contacts</h1>
<button ng-hide="buttonClicked" ng-click="showContactForm()">Add new contact</button>
<form ng-show="buttonClicked" ng-submit="addNewContact()">
  <label>Name<input type="text" name="name" ng-model="newContact.name" /></label>
  <label>Email<input type="text" name="email" ng-model="newContact.email" /></label>
  <label>Phone<input type="text" name="phonenumber" ng-model="newContact.phonenumber" /></label>
  <input type="submit" class="button" id="submit" value="Add Contact"/>
  <div ng-click="hideContactForm()" class="button">Hide Contact Form</div>
</form>
<div class="row">
  <div ng-repeat="contact in contacts" class="panel columns">
    <h3> {{ contact.name }} </h3>
    <p> {{ contact.email }} <p>
    <p> {{ contact.city }} </p>
    <p> {{ contact.phonenumber }} </p>
    <h3> Pipelines </h3>
    <div class="contact pipelines" ng-repeat="pipeline in contact.pipelines">
      <span class="success radius label"> {{pipeline.name}} </span>
      <button ng-click="removeContactFromPipeline(pipeline, contact)">Remove</button>
    </div>
    <form ng-submit="addContactToPipeline(selectedPipeline, contact)">
      <select
        ng-model="selectedPipeline"
        ng-options="pipeline.name for pipeline in contact.unaddedPipelines">
      </select>
      <input type="submit" class="button" value="Add To Pipeline" />
    </form>
  </div>
</div>

