<h1>All Contacts</h1>

<div class="row">
  <button ng-hide="buttonClicked" ng-click="showContactForm()">Add new contact</button>
  <form ng-show="buttonClicked" ng-submit="addNewContact()">
    <label>Name<input type="text" name="name" ng-model="newContact.name" /></label>
    <label>Email<input type="text" name="email" ng-model="newContact.email" /></label>
    <label>Phone<input type="text" name="phonenumber" ng-model="newContact.phonenumber" /></label>
    <input type="submit" class="button" id="submit" value="Add Contact"/>
    <div ng-click="hideContactForm()" class="button">Hide Contact Form</div>
  </form>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in contacts | orderBy: 'name'">
        <td>{{ contact.id }}</td>
        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.city }}</td>
        <td>{{ contact.phonenumber }}</td>
      </tr>
    </tbody>
  </table>




  <ul>
    <li class="flex-row flex-header">
      <div class="flex-row-item header-item">Name</div>
      <div class="flex-row-item header-item">Email</div>
      <div class="flex-row-item header-item">City</div>
      <div class="flex-row-item header-item">Phone Number</div>
      <div class="flex-row-item header-item">Pipelines</div>
    </li>
    <li class="flex-row" ng-repeat="contact in contacts">
      <div class="flex-row-item">{{ contact.name }}</div>
      <div class="flex-row-item">{{ contact.email }}</div>
      <div class="flex-row-item">{{ contact.city }}</div>
      <div class="flex-row-item">{{ contact.phonenumber }}</div>
      <div class="flex-row-item">SOMETHING HERE</div>
    </li>
  </ul>

</div>




<div class="row">
  <div ng-repeat="contact in contacts" class="panel columns">
    <h3> {{ contact.name }} </h3>
    <p> {{ contact.email }} <p>
    <p> {{ contact.city }} </p>
    <p> {{ contact.phonenumber }} </p>
    <h3> Pipelines </h3>
    <div class="contact pipelines" ng-repeat="pipeline in contact.pipelines">
      <span class="success radius label"> {{pipeline.name}} </span>
      <button ng-click="removeContactFromPipeline(pipeline, contact)">Remove</button>
    </div>
    <form ng-submit="addContactToPipeline(selectedPipeline, contact)">
      <select
        ng-model="selectedPipeline"
        ng-options="pipeline.name for pipeline in contact.unaddedPipelines">
      </select>
      <input type="submit" class="button" value="Add To Pipeline" />
    </form>
  </div>
</div>

