<div ng-controller='CreateFieldsCtrl'>
  <h1>Pipeline fields</h1>
  <div class='fields'>
    <div class="field" ng-repeat="field in fields">
      <span><a deleteField data-id="{{field.id}}" data-index="{{$index}}" href="#" class="button tiny alert">Delete</a> {{field.field_name}}</span>
    </div>
  </div>
  <h4>{{fieldName}}</h4>
  <form name="fieldForm" ng-submit="addField()">
    <input name="name" ng-model="fieldName" type="text" placeholder="create a new field"/>
    <input type='submit' name='submit' />
  </form>
</div>

<div ng-controller='CreateStagesCtrl'>
  <h1>Pipeline stages</h1>
  <div class='stages'>
    <!-- <div class="stage" ng-repeat="stage in stages">
      <span><a deleteField data-id="{{stage.id}}" data-index="{{$index}}" href="#" class="button tiny alert">Delete</a> {{stage.field_name}}</span>
    </div>
  </div>
  <h4>{{fieldName}}</h4>
  <form name="fieldForm" ng-submit="addField()">
    <input name="name" ng-model="fieldName" type="text" placeholder="create a new field"/>
    <input type='submit' name='submit' />
  </form> -->
</div>
