<div ng-controller='CreateFieldsCtrl'>
  <h1>Add/Remove Pipeline Fields</h1>
  <div class='fields'>
    <div class="field" ng-repeat="field in fields">
      <span><a deleteField data-id="{{field.id}}" data-index="{{$index}}" href="#" class="button tiny alert">Delete</a> {{field.field_name}}</span>
    </div>
  </div>
  <h4>{{fieldName}}</h4>
  <form name="fieldForm" ng-submit="addField()">
    <input name="name" ng-model="fieldName" type="text" placeholder="create a new field"/>
    <input type='submit' name='submit' />
  </form>
</div>

<div ng-controller='StagesCtrl'>
  <h1>Add/Remove Pipeline Stages</h1>
  <div class='stages'>
    <div class="stage" ng-repeat="stage in stages">
      <span><a deletestage data-id="{{stage.id}}" data-index="{{$index}}" href="#" class="button tiny alert">Delete</a> {{stage.name}}: {{stage.description}}</span>
    </div>
  </div>
  <h4>{{stageName}}</h4>
  <form name="stageForm" ng-submit="addStage()">
    <input name="name" ng-model="stageName" type="text" placeholder="create a new stage"/>
    <input name="description" ng-model="stageDesc" type="text" placeholder="stage description"/>
    <input type='submit' name='submit' />
  </form>
</div>
