<h2>Manage Collaborators</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Access Level</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="collab in collabs">
        <td>
          <a href="/#/users/{{collab.user_data.id}}">{{collab.user_data.name}}</a>
        </td>
        <td>
          <select ng-model="collab.admin" ng-change="updateCollab(collab)">
            <option value=true ng-selected="collab.admin">Admin</option>
            <option value=false ng-selected="!collab.admin">Collaborator</option>
            <option value="remove">Remove</option>
          </select>
        </td>
      </tr>
  </tbody>
</table>

<div class="row">
  <div class="small-8 medium-5 columns">
    <select ng-model="newUser.user" ng-options="user.email for user in allUsers | filter: collabFilter">
      <option value="">--  choose user  --</option>
    </select>
  </div>

  <div class="small-8 medium-3 columns">
    <select ng-model="newUser.admin">
      <option value="true">Admin</option>
      <option value="false" ng-selected=true>Collaborator</option>
    </select>
  </div>
</div>


<!-- Need to make a check to see if they are the admin of this pipeline, angular checks session and makes a button visible or not -->

<!-- Need to make the collab access level right next to new user selection

need to package this into a widget that can be used in the main pipeline view -->

