<div ng-controller='PayCtrl'>
  <div id="pay-by-card" class="reveal-modal" data-reveal>
    <form>
      <fieldset>
        <legend>Pay by card</legend>

        <label>Input Label
          <input type="text" placeholder="Inputs and other form elements go inside...">
        </label>
      </fieldset>
    </form>
  </div>
  <div id="pay-by-bank" class="reveal-modal" data-reveal>
    <form>
      <fieldset>
        <legend>Pay by bank</legend>

        <label>Input Label
          <input type="text" placeholder="Inputs and other form elements go inside...">
        </label>
      </fieldset>
    </form>
  </div>
  <a href="#" data-reveal-id="pay-by-card" class="button">Pay by card</a>
  <a href="#" data-reveal-id="pay-by-bank" class="button">Pay by bank</a>
</div>
