<div class="row panel">
  <div id="pipeDataDiv" class="large-8 columns">
    <!-- Displays title of the pipeline -->
    <div id="showDataDiv" ng-hide="editData">
      <form name="pipeDataForm" ng-hide="!editData">
        Title: <input type="text" name="pipeName" ng-model="pipeData.name">
      </form>
      <h2>{{pipeline.name}}</h2>
      <span><a href="/#/pipeline/{{pipeline_id}}/stages" class="button tiny">Add Stages & Fields</a></span>          
      <a href="/#/pipeline/{{pipeline_id}}/users/"
      class="button tiny">Manage Collaborators</a>
    </div>

    <!-- Allows you to edit the pipeline title -->
    <form name="pipeDataForm" ng-hide="!editData">
      Title: <input type="text" name="pipeName" ng-model="pipeline.name">
      Created At: <input disabled type="text" name="pipeline.created_at" ng-model="pipeline.created_at">
      Trash: <input type="checkbox" name="pipeTrash" ng-model="pipeline.trashed">
    </form>
  </div>

</div>

<!-- Displays all of the stages and contact information -->
<h3>Stages</h3>
<div class="row">
  <div class="panel collumns"
    ng-repeat="stage in stages | orderBy: 'pipeline_location'">
    <h3 class={{stage.id}}>{{stage.name}}</h3>
    <p class={{stage.id}}>{{stage.description}}</p>
    <table>
      <!-- Heading for fields in your pipeline -->
      <thead>
        <tr>
          <th>Details</th>
          <th ng-repeat="field in basicFields">{{field.field_name}}</th>
          <th ng-repeat="field in fields">{{field.field_name}}</th>
        </tr>
      </thead>
      <tbody id={{stage.id}} class="contacts" ng-controller="PipelineDetailsCtrl">
        <tr dnd-list="contacts" ng-repeat="contact in contacts | orderBy:'name' | filter: {stage_id : stage.id}">
          <!-- Display actual data for your contact -->
          <td>
            <a href="/#/pipeline/{{pipeline_id}}/contact/{{contact.id}}"
              class="button detail-button tiny radius round">Details</a>
            </td>
          <!-- <td ng-repeat="field in basicFields">{{contact[field.field_name]}}</td> -->
          <!-- <td ng-repeat="field in fields">{{contact[field.field_name]}}</td> -->
          <form id="inputForm" name="inputForm" method="PUT" ng-keyup="updateEntry()">
           <td ng-repeat="field in basicFields">
             <input type="text" ng-model="contact[field.field_name]" ng-show="contact.showEdit" ng-keyup="keyup($event, contact)">
             <p ng-hide="contact.showEdit" ng-dblclick="contact.showEdit=!contact.showEdit;">{{contact[field.field_name]}}</p>
           </td>
           <td ng-repeat="field in fields">
             <input type="text" ng-model="contact[field.field_name]" ng-show="contact.showEdit" ng-keyup="keyup($event, contact)">
             <p ng-hide="contact.showEdit" ng-dblclick="contact.showEdit=!contact.showEdit;">{{contact[field.field_name]}}</p>
           </td>
         </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>
