<div class="row panel">
  <div id="pipeDataDiv" class="large-8 columns">
    <!-- Displays title of the pipeline -->
    <div id="showDataDiv" ng-hide="editData">
      <form name="pipeDataForm" ng-hide="!editData">
        Title: <input type="text" name="pipeName" ng-model="pipeData.name">
      </form>
      <h2>{{pipeline.name}}</h2>
      <span><a href="/#/pipeline/{{pipeline_id}}/stages" class="button tiny">Add Stages & Fields</a></span>
      <a href="/#/pipeline/{{pipeline_id}}/users/"
      class="button tiny">Manage Collaborators</a>
    </div>

    <!-- Allows you to edit the pipeline title -->
    <form name="pipeDataForm" ng-hide="!editData">
      Title: <input type="text" name="pipeName" ng-model="pipeline.name">
      Created At: <input disabled type="text" name="pipeline.created_at" ng-model="pipeline.created_at">
      Trash: <input type="checkbox" name="pipeTrash" ng-model="pipeline.trashed">
    </form>
  </div>

</div>

<!-- Displays all of the stages and contact information -->
<h3>Stages</h3>
<div class="row">
  <div class="panel collumns"
    ng-drop="true"
    ng-drop-success="onDropComplete($data,stage)">
    <h3>{{stage.name}}</h3>
    <p>{{stage.description}}</p>
    <table>
      <!-- Heading for fields in your pipeline -->
      <thead>
        <tr>
          <th>Details</th>
          <th>Stage</th>
          <th ng-repeat="field in basicFields">{{field.field_name}}</th>
          <th ng-repeat="field in fields">{{field.field_name}}</th>
        </tr>
      </thead>
      <tbody ng-controller="PipelineDetailsCtrl">

        <tr ng-repeat="contact in contacts | orderBy:'name' | filter: {stage_id : stage.id}">
          <!-- Display actual data for your contact -->
          <td>
            <a href="/#/pipeline/{{pipeline_id}}/contact/{{contact.id}}"
              class="button detail-button tiny radius round">Details</a>
          </td>
          <td>
            <form ng-submit="changeStage(contact)">
              <!-- <p ng-repeat="stageOption in stages">{{contact.stage}}</p> -->
              <select
              ng-model="contact.stage"
              ng-options="stageOpt.name for stageOpt in stages"
              ng-selected="contact.stage"
              class="button dropdown detail-button tiny radius round"
              ng-change="changeStage(contact, contact.stage)">
              </select>
            </form>
          </td>
          <form id="inputForm" name="inputForm" method="PUT" ng-keyup="updateEntry()">
           <td ng-repeat="field in basicFields">
<!--             <a data-dropdown="change-status" class="button dropdown detail-button tiny radius round">{{contact[field.field_name]}}</a><br> -->
<!--             <ul id="drop1" data-dropdown-content class="f-dropdown">
              <li><a href="#">This is a link</a></li>
              <li><a href="#">This is another</a></li>
              <li><a href="#">Yet another</a></li>
            </ul> -->

<!--
    <form ng-submit="addContactToPipeline(selectedPipeline, contact)">
      <select
        ng-model="selectedPipeline"
        ng-options="pipeline.name for pipeline in contact.unaddedPipelines"
      </select>
      <input type="submit" class="button" value="Add To Pipeline" />
    </form> -->


             <input type="text" ng-model="contact[field.field_name]" ng-show="contact.showEdit" ng-keyup="keyup($event, contact)">
             <p ng-hide="contact.showEdit" ng-dblclick="makeEditable(contact)">{{contact[field.field_name]}}</p>
           </td>
           <td ng-repeat="field in fields">
             <input type="text" ng-model="contact[field.field_name]" ng-show="contact.showEdit" ng-keyup="keyup($event, contact)">
             <p ng-hide="contact.showEdit" ng-dblclick="makeEditable(contact)">{{contact[field.field_name]}}</p>
           </td>
         </form>
        </tr>
      </tbody>
    </table>
  </div>
</div>
