<div class="row">
  <h1>Pipeline Overview</h1>
</div>

<div ng-repeat="pipeline in pipelineList">
    <div class="row">
      <h3>{{pipeline.name}}</h3>
      <ul class="pipeline">
        <li><a href="#">
          <div class="count">{{ pipeline.contact_count }}</div>
          <div class="name">ALL ACTIVE</div>
        </a></li>
        <div ng-repeat="stage in pipeline.stages">
          <li><a href="#">
            <div class="count">{{ stage.contact_count }}</div>
            <div class="name">{{ stage.name }}</div>
          </a></li>
        </div>
      </ul>
    </div>
</div>
