<div class="row">
  <h1>Pipeline Overview</h1>
</div>

<div ng-repeat="pipeline in pipelines">
  <div class="row">
    <h3>{{pipeline.name}}</h3>
    <ul class="flex-container">
      <li class="flex-item"><a href="#">
        <div class="contact-count">{{ pipeline.contact_count }}</div>
        <div class="pipeline-name">ALL ACTIVE</div>
      </a></li>
      <li class="flex-item" ng-repeat="stage in pipeline.stages"><a href="#">
        <div class="contact-count">{{ stage.contact_count }}</div>
        <div class="pipeline-name">{{ stage.name | uppercase }}</div>
      </a></li>
    </ul>
  </div>
</div>
