
<style type="text/css">
#rofl-copter {
  -webkit-animation: cssAnimation 5s linear 0s infinite normal;
     -moz-animation: cssAnimation 5s linear 0s infinite normal;
       -o-animation: cssAnimation 5s linear 0s infinite normal;
}
@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(-30%);
  }
  to {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(100%);
  }
}
</style>
<pre id="rofl-copter">
        ROFL:ROFL:LOL:ROFL:ROFL
           _________||_________
 L        /                 [ O\
LOL=======                  |_|_\
 L       B|O M B                 )
        F |______,-------¬_____/
       T //    }-OMGROCKET))
      W // _______||_||_________/_/
</pre>
