/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'foundation-icons';
@import "foundation_and_overrides";
.button.detail-button.tiny {
  width: auto;
  height: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.9rem;
  margin: 0 0 0;
  font-size: 1em;
  top: 0; left: 0; bottom: 0; right: 0;
}

.success.radius.label {
  display: inline-block;
  width: auto;
}

#nav-icon {
  margin-right: 8px;
}
