/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'foundation-icons';
@import "foundation_and_overrides";
.button.detail-button.tiny {
  width: auto;
  height: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.9rem;
  margin: 0 0 0;
  font-size: 1em;
  top: 0; left: 0; bottom: 0; right: 0;
}

.success.radius.label {
  display: inline-block;
  width: auto;
}

.pipeline {
  list-style: none;
  overflow: hidden;
  font: 18px Helvetica, Arial, Sans-Serif;
}
.pipeline li {
  float: left;
}
.pipeline li a {
  color: black;
  text-decoration: none;
  padding: 30px 0 30px 45px;
  background: #F2F2F2;                   /* fallback color */
  // background: hsla(34,85%,35%,1);
  position: relative;
  display: block;
  float: left;
}

.pipeline li a .count {
  font-size: 35px;
  // font-weight: bold;
}

.pipeline li a .name {
  font-size: 13px;
  font-weight: bold;
}

.pipeline li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid #F2F2F2;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.pipeline li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 3px;
  left: 100%;
  z-index: 1;
}

// .pipeline li:first-child a {
//   padding-left: 10px;
// }
// .pipeline li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
// .pipeline li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
// .pipeline li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
// .pipeline li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
// .pipeline li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
// .pipeline li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
// .pipeline li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
// .pipeline li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
// .pipeline li:last-child a {
//   background: transparent !important;
//   color: black;
//   pointer-events: none;
//   cursor: default;
// }
