.flex-container {

  border: 1px solid red;
  // width: 75%;
  display: flex;
  flex-direction: row;
  // flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow-y: scroll;
}

.flex-column {
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  // flex-wrap: noxwrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
}
