// Place all the styles related to the Pipelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.green {
  background-color: #1abc9c;
}

input.bordername {
  border: 0;
  margin: 0;
  outline:none;
  box-shadow: inset 0 0px 0px;
  background-color: #f6f6f6;
  padding: 0rem 1.25rem 0rem;
  text-align: center;
  color: #333333;
  font-weight: normal;
  font-size: 2rem;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
input:focus.bordername {
  border: 0;
  margin: 0;
  outline:none;
  box-shadow: inset 0 0px 0px;
  background-color: #f6f6f6;
  padding: 0rem 1.25rem 0rem;
  text-align: center;
  color: #333333;
  font-weight: normal;
  font-size: 2rem;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

input.border {
  border: 0;
  margin: 0;
  padding: 0;
  outline:none;
  box-shadow: inset 0 0px 0px;
  background-color: white;
  padding: 0rem;
  text-align: center;
  color: #333333;
  font-size: 0.875rem;
  font-weight: normal;
}
input:focus.border {
  border: 0;
  margin: 0;
  padding: 0;
  outline:none;
  box-shadow: inset 0 0px 0px;
  background-color: white;
  padding: 0rem;
  text-align: center;
  color: #333333;
  font-size: 0.875rem;
  font-weight: normal;
}

li.bullet-item.hidepadding {
  padding: .220rem;
}
li.price.hidepadding {
  padding: .765rem;
}

div.email_stuff {
background-color: white;
height: 400px;
overflow-y: scroll;
}

.shrink {
font-size: small;
}

