// Place all the styles related to the Pipelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.green {
  background-color: #1abc9c;
}

div.email_stuff {
  background-color: white;
  height: 400px;
  overflow-y: scroll;
}

.shrink {
  font-size: small;
}

div.over-panel{
  position: absolute;
  z-index: 300;
  left: 26%;
}

.slidebox{
  min-height: 90vh;
  overflow-y: scroll;
  background-color: white;
}




